* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Segoe UI";
}

.root {
    -fx-background-color: rgb(246, 246, 246);
}

.button {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgb(215, 215, 215), 8, 0, 2, 2);
}
.button:hover {
    /* -fx-background-color: rgb(102, 140, 236); */
    -fx-effect: dropshadow(three-pass-box, rgb(215, 215, 215), 8, 0, 3, 3);
}
.button:pressed {
    /* -fx-background-color: rgb(215, 11, 11); */
    -fx-effect: dropshadow(three-pass-box, white, 15, 0.2, 2, 2);
    -fx-effect: innershadow(three-pass-box, rgb(215, 215, 215), 8, 0.6, 1, 1);
}
.button:pressed .text {
    -fx-translate-y: 1px;
}

#status {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: green;
}
#uptime {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}